<footer class="navbar-fixed-bottom navbar navbar-default">
	<div class="container-fluid">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 logo-wrap">
			<img class="logo" src="{{ site.baseurl }}{{ site.logo }}" />
		</div>
		<div class="col-xs-5 col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-3">
			<a href="#" class="contact btn btn-primary btn-lg">Get Started!</a>
		</div>
		<div class="col-xs-1 col-sm-2 col-sm-offset-2 col-md-offset-3">
			<img class="logo summit hidden-xs" src="{{ site.baseurl }}{{ site.images }}/thesummit.png" />
			<div class="social-group">
				<a target="_blank" class="top" href="http://twitter.com/@thesummit_fw">
					<img class="social img-circle" src="{{ site.baseurl }}{{ site.images }}twitter.png" />
				</a>
				<a target="_blank" class="bottom" href="https://www.facebook.com/pages/The-Summit/106991936070983">
					<img class="social img-circle" src="{{ site.baseurl }}{{ site.images }}facebook.png" />
				</a>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ site.basurl }}/js/plugins.js"></script>
	<script src="{{ site.basurl }}/js/script.js"></script>
</footer>
